<html>
<body>
    <form action="/user" method="POST">
        <label for='username'>Username:</label>
        <input id='username' type='text' value='{{username}}'/>

        <label for='email'>email:</label>
        <input id='email' type='email' value='{{email}}' />
    </form>
</body>
</html>